.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
    background-color: #0D9276;
    color: beige;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1.5rem 0rem;
}

.header-nav {
	display: flex;
	justify-content: center;
	gap: 20px;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li:last-child {
    margin-left: 2rem;

}
a {
    font-size: 1.5rem;
	text-decoration: none;
    color: beige;
}
